In [1]:
import pandas as pd

# Creating, Reading and Writing

## Creating data

There are two core objects in pandas: the DataFrame and the Series.

### 1. DataFrame

A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

For example, consider the following simple DataFrame:

In [2]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

The list of row labels used in a DataFrame is known as an Index. We can assign values to it by using an index parameter in our constructor:

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

### 2. Series

A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list:

In [5]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

## Reading data files

Being able to create a DataFrame or Series by hand is handy. But, most of the time, we won't actually be creating our own data by hand. Instead, we'll be working with data that already exists.

In [6]:
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv")

In [7]:
wine_reviews.shape

(129971, 14)

In [8]:
wine_reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

### Index Column

If a CSV file already has a meaningful index column, pandas can use it instead of creating a new one by specifying index_col.

In [9]:
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

## Selecting Data in Pandas

### Introduction
Selecting specific rows and columns is a key step in almost every pandas task.  
Pandas gives you fast ways to select the exact data you need from a **DataFrame** or **Series**.


### Setup
- Import pandas using the common alias `pd`
- Load the dataset using `read_csv()`
- Set display options if needed (optional)

### Native Accessors (Basic Column Selection)
Pandas supports Python-style column access:

- **Attribute access**
  - Example: `df.country`
  - Works only when the column name is a valid Python identifier (no spaces/special chars)

- **Bracket access**
  - Example: `df['country']`
  - Works for all column names (recommended)

Both methods return a **Series**.



### Accessing a Single Value
To get one value:
- Select a column (Series)
- Then select a row

Example idea:
- `df['country'][0]` → value at row 0 in the `country` column

## Pandas Indexing Tools

### Two Main Accessors
- **`iloc`** : index-based selection (by position)
- **`loc`**  : label-based selection (by index label)

**Rule:** Both are **row-first, column-second**.

### 1. `iloc` (Index-Based / Position-Based)
Use `iloc` when selecting by numerical position.

- First row: `df.iloc[0]`
- First column: `df.iloc[:, 0]`
- First 3 rows of first column: `df.iloc[:3, 0]`
- Specific rows (list): `df.iloc[[0, 1, 2], 0]`
- Last 5 rows: `df.iloc[-5:]`

**Slicing rule (Python style):**
- `0:3` means `0,1,2` (end is excluded)

### 2. `loc` (Label-Based)
Use `loc` when selecting by index labels and column names.

- Single value: `df.loc[0, 'country']`
- Multiple columns: `df.loc[:, ['taster_name', 'points']]`

**Slicing rule (inclusive):**
- `0:3` means `0,1,2,3` (end is included)

### `loc` vs `iloc` (Important Difference)
- `df.iloc[0:3]` → rows `0,1,2`
- `df.loc[0:3]`  → rows `0,1,2,3`

⚠️ This is a common exam trap.

## Index Manipulation

### Changing the Index
The DataFrame index is not fixed. You can change it to a better column using:

- `set_index('title')`

This can make label-based selection clearer and more meaningful.

## Conditional Selection (Filtering)

This operation produced a Series of True/False booleans based on the country of each record.

### Creating a Condition
A condition produces a Boolean Series (`True/False`), e.g.:
- `df.country == 'Italy'`

### Filtering with `loc`
Use the condition inside `loc`:

- `df.loc[df.country == 'Italy']`

### Combining Conditions
Use:
- `&` for AND
- `|` for OR

⚠️ Always use parentheses around each condition.

Examples:
- Italy AND points >= 90  
  `(df.country == 'Italy') & (df.points >= 90)`

- Italy OR points >= 90  
  `(df.country == 'Italy') | (df.points >= 90)`


### Useful Conditional Methods
- **`isin([...])`**  
  Select values inside a list  
  Example idea: `df.country.isin(['Italy', 'France'])`

- **`isnull()` / `notnull()`**  
  Find missing values (NaN) or non-missing values  
  Example idea: `df.price.notnull()`


## Assigning Data (Creating New Columns)

### Assign a Constant
- Add the same value to every row in a new column

Example idea:
- `df['critic'] = 'everyone'`

### Assign a Sequence
- Add changing values using an iterable like `range()`

Example idea:
- `df['index_backwards'] = range(len(df), 0, -1)`

## Quick Tip
After selecting or changing data, preview results using:
- `df.head()`

---

In [11]:
# Set display options for better readability
pd.set_option('display.max_rows', 5)

# Display the dataset
wine_reviews

# ===== NATIVE ACCESSORS =====
# Access country column using attribute
wine_reviews.country

# Access country column using bracket notation (recommended)
wine_reviews['country']

# Get a single value from the Series
wine_reviews['country'][0]

# ===== INDEX-BASED SELECTION (iloc) =====
# Select first row
wine_reviews.iloc[0]

# Select first column (all rows)
wine_reviews.iloc[:, 0]

# Select first 3 rows of first column
wine_reviews.iloc[:3, 0]

# Select rows 1-2 (note: end is excluded)
wine_reviews.iloc[1:3, 0]

# Select specific rows using a list
wine_reviews.iloc[[0, 1, 2], 0]

# Select last 5 rows
wine_reviews.iloc[-5:]

# ===== LABEL-BASED SELECTION (loc) =====
# Get single value by label
wine_reviews.loc[0, 'country']

# Select multiple columns
wine_reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

# ===== CONDITIONAL SELECTION =====
# Check which wines are from Italy
wine_reviews.country == 'Italy'

# Filter wines from Italy
wine_reviews.loc[wine_reviews.country == 'Italy']

# Filter wines from Italy AND rated >= 90 points (AND operator: &)
wine_reviews.loc[(wine_reviews.country == 'Italy') & (wine_reviews.points >= 90)]

# Filter wines from Italy OR rated >= 90 points (OR operator: |)
wine_reviews.loc[(wine_reviews.country == 'Italy') | (wine_reviews.points >= 90)]

# Filter wines from Italy or France using isin()
wine_reviews.loc[wine_reviews.country.isin(['Italy', 'France'])]

# Filter wines with prices (remove NaN values)
wine_reviews.loc[wine_reviews.price.notnull()]

# Filter wines without prices (find NaN values)
wine_reviews.loc[wine_reviews.price.isnull()]

# ===== INDEX MANIPULATION =====
# Set the title as the index
wine_reviews_by_title = wine_reviews.set_index('title')
wine_reviews_by_title.head()

# ===== ASSIGNING DATA =====
# Assign constant value to new column
wine_reviews['critic'] = 'everyone'

# Assign sequence values (reverse index)
wine_reviews['index_backwards'] = range(len(wine_reviews), 0, -1)

# Preview the new columns
wine_reviews[['critic', 'index_backwards']].head()

# ===== PRACTICAL EXAMPLES =====
# 1. Count wines by country
wine_reviews['country'].value_counts()

# 2. Find average points by country
wine_reviews.groupby('country')['points'].mean().sort_values(ascending=False).head()

# 3. Find most expensive wines
wine_reviews.nlargest(5, 'price')[['title', 'price', 'country']]

# 4. Find wines with highest points
wine_reviews.nlargest(5, 'points')[['title', 'points', 'country']]

# 5. Find missing prices per country
wine_reviews[wine_reviews['price'].isnull()].groupby('country').size().sort_values(ascending=False).head()

country
France      4317
Italy       2626
Portugal     816
Austria      546
US           239
dtype: int64

# Summary Functions

Pandas provides quick functions to summarize a Series/column.

Common ones:

- `describe()` → overall summary (changes based on data type)
- `mean()` → average (numeric)
- `unique()` → distinct values
- `value_counts()` → distinct values + frequency

In [16]:
# 1. Describe() - Get overall statistics
# wine_reviews['points'].describe()

wine_reviews['taster_name'].describe()

# 2. Mean - Average points
# wine_reviews['points'].mean()

# # 3. Unique - Distinct values
# wine_reviews['taster_name'].unique()

# # 4. Value counts - Frequency of each value
# wine_reviews['taster_name'].value_counts()

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object